<!DOCTYPE html>
<html ⚡ lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="search" href="http://mklabs.github.io/opensearch.xml" type="application/opensearchdescription+xml" title="Unto.net" />

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.date }}",
  "description": "{{ page.description }}",
  "author": {
    "@type": "Person",
    "name": "Mickael Daniel"
  },
  "publisher": {
    "@type": "Organization",
    "name": "mklabs",
    "logo": {
      "@type": "ImageObject",
      "url": "https://avatars2.githubusercontent.com/u/113832?v=3&s=460",
      "width": 60,
      "height": 60
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "http://yourdomain.com/amplify/assets/images/logo.jpg",
    "height": 60,
    "width": 60
  }
}

  </script>

  <link rel="stylesheet" href="/assets/css/style.css" />

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
  <body>
    <header class="site-header">
      <span class="site-title">
        <a href="/">{{ site.title }}</a>
      </span>

      <div class="page-links">
        <a class="page-link" href="/blog.mklog.fr/">Archives</a> /
        <a class="page-link" href="/feed.xml">Feed</a> /
        <a class="page-link" href="/search/">Search</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            / <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </header>

    {{ content }}
  </body>
</html>
