<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} .::. {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  {% if site.env == 'dev' %}
  <link rel="stylesheet" href="http://localhost:5678/assets/css/main-b28c9f404a5c391c9a5e511415bcccb3.css">
  {% else %}
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main-b28c9f404a5c391c9a5e511415bcccb3.css">
  {% endif %}

</head>
<body>
    <header class="top fixed">
      <nav class="paths js-paths">
        <a class="title" href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </nav>

      <nav class="nav">
        {{ page.tilte }}
        <a href="/" class="{% if page.module == 'home' %}active{% endif %}"> Home</a>
        <a href="https://github.com/mklabs" class=""> <i class="icon-github"></i> </a>
        <a href="http://twitter.com/mklabs" class=""> <i class="icon-twitter"></i> </a>
      </nav>
    </header>

    <section class="content{% if page.module %} {{ page.module }}{% endif %}">
      {{ content }}
    </section>
  </div>

  {% if site.env == 'dev' %}
  <script src="http://localhost:5678/assets/js/manifest-68d0967722af493a74c2badcff211d8b.js"></script>
  {% else %}
  <script src="{{ site.baseurl }}assets/js/manifest-68d0967722af493a74c2badcff211d8b.js"></script>
  {% endif %}
</body>
</html>
