
.outline.fixed {
  position: fixed;
}

.outline h3,
.outline .title {
  margin-top: 0;
}

.outline ul {
  list-style: none;
  padding-left: 1em;
}

.outline ul li {
  padding-top: 0.1em;
}

.outline > ul {
  padding-top: 0;
  margin-top: 0;
}

.outline a {
  display: block;
}

.outline .lvl-1,
.outline .lvl-2 {
  margin-left: 1.5em;
}

.outline .lvl-3 {
  margin-left: 3em;
}

.outline .lvl-4 {
  margin-left: 4.5em;
}
.outline .lvl-5 {
  margin-left: 6em;
}
.outline .lvl-6 {
  margin-left: 7.5em;
}

.octo {
  padding-left: 0;
  -webkit-transition: padding-left 0.3s ease-out;
     -moz-transition: padding-left 0.3s ease-out;
      -ms-transition: padding-left 0.3s ease-out;
       -o-transition: padding-left 0.3s ease-out;
          transition: padding-left 0.3s ease-out;

  position: relative;

}


.octo:hover {
  padding-left: 1.5em;
}

.octo:hover .octo-link,
.octo-link.is-active {
  color: rgba(0, 0, 0, 0.8);
}

.octo-link {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 1px;

  -webkit-transition: color 0.3s ease-out;
     -moz-transition: color 0.3s ease-out;
      -ms-transition: color 0.3s ease-out;
       -o-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
}
