.top {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.90);
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
}


.top.fixed {
  position: fixed;
  height: 1.5em;
}
